<p>Existing Products</p>

<p>Name:<%= products.name %></p>
<p>Price: <%= products.price %></p>
<p>Description: <%= products.description %></p>
<p>Discount: <%= products.discount %></p>

<img src="<%= products.image %>" width="200" />

<a href="/owners/products/create">Create a new product</a>
