<!DOCTYPE html>
<html>
  <head>
    <title>Products – Luxvane Admin</title>
    <link rel="stylesheet" href="/stylesheets/products.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
  </head>
  <body>

    <%- include('../partials/header.ejs') %>

    <!-- FLASH MESSAGES -->
    <% if (success && success.length > 0) { %>
      <div class="flash flash-success"><%= success %></div>
    <% } %>

    <% if (error && error.length > 0) { %>
      <div class="flash flash-error"><%= error %></div>
    <% } %>
    <div class="product-page">
      <h1>Existing Products</h1>

      <!-- CREATE PRODUCT BUTTON -->
      <div class="product-header">
        <a href="/owners/products/create" class="create-btn">Create a new product</a>

        <a href="/owners/dashboard" class="create-btn">Back to Dashboard</a>
      </div>

      <div class="products-grid">
        <% products.forEach(p => { %>
          <div class="product-card">
            <img src="<%= p.image %>" class="product-img" />
            <h2 class="product-name"><%= p.name %></h2>
            <p class="product-price"><%= p.price %>$</p>
            <p class="product-desc"><%= p.description %></p>
            <%if(p.discount && p.discount > 0){%>
              <p class="product-discount">Discount :<%= p.discount %>%</p>
            <%}%>
          <div class="product-actions">

              <a href="/owners/products/<%= p._id %>/edit" class="edit-btn">
                <button>Edit</button>
              </a>
              <form action="/owners/products/<%= p._id %>/delete" method="POST" class="delete-form">
                <button type="submit" class="delete-btn">Delete</button>
              </form>
          </div>

          </div>
        <% }) %>
      </div>
    </div>
  </body> 
</html>
